<div class="container" id="outer-wrapper" onclick="ocultarMenu('menu-contextual');" oncontextmenu="mostrarMenu(event, this.id, 'menu-contextual');return false;">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-header" style="text-align:center">
          <h5>Consola</h5>
          <input type="checkbox" name="listen" #name="ngModel" [(ngModel)]="listenAll"> Escuchar todo
        </div>
        <div class="card-body scrollbar" style="height:200px">
          <div *ngIf="listenAll">
            <div *ngFor="let item of WSS.messageArray">
              <div *ngIf="item.respuesta">
                <div *ngIf="item.status">
                  <span><strong>{{ item.msg }}</strong></span>
                </div>
                <div *ngIf="!item.status">
                  <span style="color:red"><strong>{{ item.msg }}</strong></span>
                </div>
              </div>
              <div *ngIf="!item.respuesta">
                <div *ngIf="item.status">
                  <span>{{ item.msg }}</span>
                </div>
                <div *ngIf="!item.status">
                  <span style="color:red">{{ item.msg }}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!listenAll">
            <div *ngFor="let item of WSS.messageArray">
              <div *ngIf="item.status && item.respuesta">
                <span><strong>{{ item.msg }}</strong></span>
              </div>
              <div *ngIf="!item.status && item.respuesta">
                <span style="color:red"><strong>{{ item.msg }}</strong></span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<ul id="menu-contextual" oncontextmenu="return false;">
  <li (click)="cleanConsole()">Limpiar consola</li>
</ul>
