ul#menu-contextual {
  display:none;
  background:white;
  font-family:Verdana, Arial, "Times New Roman", sans-serif;
  font-size:12px;
  color:black;
  border:1px solid #CCC;
  box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -ms-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -webkit-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -o-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -moz-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -khtml-box-shadow:5px 5px 0px rgba(0,0,0,.1);
 }

 ul#menu-contextual ul {
  display:none;
  background:white;
  font-family:Verdana, Arial, "Times New Roman", sans-serif;
  font-size:12px;
  color:black;
  border:1px solid #CCC;
  padding:2px 9px 2px 2px;
  box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -ms-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -webkit-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -o-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -moz-box-shadow:5px 5px 0px rgba(0,0,0,.1);
  -khtml-box-shadow:5px 5px 0px rgba(0,0,0,.1);
 }

 ul#menu-contextual li:hover {
  background:#CCC;
  word-wrap:break-word;

 }

 ul#menu-contextual li:hover > ul {
  display:block;
 }
