.cerrarSession{
  text-align:right;
  color: #fff;
}

.cerrarSession a{
  color: #fff;
  margin-right: 20px;
  font-weight: bold;
}

.navbar{
  background: #279630;
}

.navbar a{
  color: #fff;
}

.degrade{
  background: #279630;
}
