<div *ngIf="!logueado">
  <app-login (loguear)="loguear($event)"></app-login>
</div>
<div *ngIf="logueado">
  <div class="card">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">Deitres</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" (click)="setEstado('comando')" style="color:white;">Comandos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Graficos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="degrade">
                <a class="dropdown-item" href="#" (click)="setEstado('grafico');setGrafico(0)">Grafico 1</a>
                <a class="dropdown-item" href="#" (click)="setEstado('grafico');setGrafico(1)">Grafico 2</a>
                <!--
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                -->
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div style="margin-right:10px"><a>{{clientID}}</a></div>
      <div class="cerrarSession"><a href="#" (click)="logout()">Cerrar Sesion</a></div>
    </nav>
  </div>
  <div *ngIf="estado=='comando'">
      <app-formulario [WSS]="WSS" [clientID]="clientID" [token]="token"></app-formulario>
      <app-console [WSS]="WSS"></app-console>
  </div>
  <div *ngIf="estado=='grafico'">
    <app-grafico [graficoID]="graficoID"></app-grafico>
  </div>
</div>

