<div class="container p-5">
  <form #filterForm="ngForm" (ngSubmit)="filtrar(filterForm)">
    <div class="form-inline">
      <input class="form-control" type="date" name="desde" #name="ngModel" [max]="filtro.hasta" [(ngModel)]="filtro.desde">
      <input class="form-control" type="time" name="horaD" #name="ngModel" [(ngModel)]="filtro.horaD" placeholder="fecha">
      <input class="form-control" type="date" name="hasta" #name="ngModel" [min]="filtro.desde" [(ngModel)]="filtro.hasta">
      <input class="form-control" type="time" name="horaH" #name="ngModel" [(ngModel)]="filtro.horaH" placeholder="fecha">
      <button class="btn btn" style="margin-right:2px">Filtrar</button>
      <select class="form-control" name="intervalo" #name="ngModel" [(ngModel)]="filtro.intervalo">
        <option value="" disabled>Elegir intervalo de muestreo</option>
        <option value="5000">5 segundos</option>
        <option value="10000">10 segundos</option>
        <option value="30000">30 segundos</option>
        <option value="45000">45 segundos</option>
        <option value="60000">1 minuto</option>
        <option value="300000">5 minutos</option>
        <option value="900000">15 minutos</option>
        <option value="1800000">30 minutos</option>
        <option value="3600000">1 hora</option>
        <option value="7200000">2 horas</option>
        <option value="43200000">12 horas</option>
        <option value="86400000">1 día</option>
      </select>
      <button (click)="play()" class="btn btn"><i *ngIf="filtro.play == 't'" class="fas fa-play"></i><i *ngIf="filtro.play == 'f'" class="fas fa-pause"></i></button>
    </div>
  </form>
  <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="100%" height="650px"></iframe>
</div>


