<div class="container p-5" style="width:50%; min-width:600px;">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-header" style="text-align:center">
          <h5>Login</h5>
        </div>
        <div class="card-body">
          <div style="text-align:center">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-horizontal">
              <div class="form-group">
                <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="loginService.selectedLogin.name" placeholder="Ingrese nombre de usuario" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="pass" #name="ngModel" [(ngModel)]="loginService.selectedLogin.pass" placeholder="Ingrese contraseña" required>
              </div>
              <div *ngIf="error != ''">
                <a style="color:#dd1111">{{error}}</a>
              </div>
              <div class="input-field">
                <button class="btn">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
