<div class="container p-5" style="width:50%;">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-header" style="text-align:center">
          <h5>Enviar comando</h5>
        </div>
        <div class="card-body">
          <form #comandoForm="ngForm" (ngSubmit)="exeOp(comandoForm)" class="form-horizontal">
            <div class="form-group">
              <select class="form-control" name="network" #name="ngModel" [(ngModel)]="comando.network" required>
                <option selected disabled>Seleccionar Red</option>
                <option *ngFor="let network of networksService.networks" [value]="network.networkID">{{ network.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" name="typeOp" #name="ngModel" [(ngModel)]="comando.typeOp">
                <option value="" disabled>Elegir tipo de comando</option>
                <option value="send">Enviar</option>
                <option value="cancelSend">Cancelar envio</option>
                <option value="listen">Escuchar</option>
                <option value="cancelListen">Cancelar escucha</option>
              </select>
            </div>
            <div *ngIf="comando.typeOp == 'send' || comando.typeOp == 'cancelSend' ">
              <div class="form-group">
                <input class="form-control" type="text" name="mac" #name="ngModel" [(ngModel)]="comando.mac" placeholder="Ingrese la mac" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" min="0" name="cid" #name="ngModel" [(ngModel)]="comando.cid" placeholder="Ingrese el codigo de comando">
              </div>
              <div class="form-group" *ngIf="(comando.cid < 0 || comando.cid === null || comando.cid === undefined) && comando.typeOp != 'cancelSend'">
                <input class="form-control" type="text" name="message" #name="ngModel" [(ngModel)]="comando.message" placeholder="Ingrese el Comando desconocido">
              </div>
              <div *ngIf="(comando.cid >= 0 && comando.cid !== null && comando.typeOp != 'cancelSend')">
                <div class="form-group">
                  <input class="form-control" type="text" name="param" #name="ngModel" [(ngModel)]="comando.param" placeholder="Ingrese parametro">
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" min="1" name="retries" #name="ngModel" [(ngModel)]="comando.retries" placeholder="Ingrese numero de reintentos">
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" name="timeout" #name="ngModel" [(ngModel)]="comando.timeout" placeholder="Ingrese TimeOut">
                </div>
              </div>
            </div>
            <div class="input-field">
              <button class="btn btn" style="margin-right:2px">Enviar</button>
              <button class="btn btn-dark" (click)="resetForm(comandoForm)" style="background:#000">Limpiar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
