body{
  background: #50C9C3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #55d15f, #025009);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #55d15f, #066d0e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-control:focus {
  border-color: #55d15f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #025009;
}

.card-header{
  background: #279630;
  border-color: #279630;
}

.card-header h1, h2, h3, h4, h5{
  color: #fff;
}

.card-body .btn{
  background: #279630;
  color: #fff;
  font-weight: bold;
}

.scrollbar
 {
   margin-left: 30px;
   float: left;
   background: #F5F5F5;
   overflow-y: scroll;
   margin-bottom: 25px;
 }

 .scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

